html{
    font-family: sans-serif;
    font-size: 70%;
}

body{
    font-size: 14px;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

footer, nav{
    display: block;
}

h1,h2,h3,h4,h5,h6{
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h1::after{
    display: block;
    content: "";
    height: 2px;
    width: 150px;
}

h2{
    font-size: 27px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 22px;
    padding-top: 25px;
    padding-bottom: 0px;
    font-weight: 900;
}

p{
    font-weight: 300;
    padding-bottom: 15px;
}

.text-center{
    text-align: center;
}

.heading-padding{
    padding-bottom: 40px;
}

section{
    padding-top: 50px;
    margin-top: 50px;
}

.navbar{
    height: 105px;
    max-height: 340px;
    display: block;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix::after, .container::after, .navbar::after{
    clear: both;
    display: table;
    content: "";
}

.wrap{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;    
}

.menu-container{
    max-height: 340px;
    margin: 0% auto;
    content: "";
    width: 100%;
    position: fixed;
    z-index: 100;
}

.menu{
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li{
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    cursor: pointer;
}

.menu li:hover{
    background-color: rgba(100, 65, 0, 0.3);
}

/*-----------------------
    HOME SECTION STYLES
  -----------------------*/
  #home{
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 70px;
}

.head-main{
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: rgb(212, 182, 126);
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: left;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double #fff;
    padding: 10px;
}

iframe{
    width: 720px;
    height: 540px;
}

/*-------------------
    GALLERY SECTION
  -------------------*/
.photo{
    position: relative;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}

.photo-container{
    text-align: center;
    margin: 15px auto;
    width: 450px;
    height: 470px;
}

.photo-container img{
    max-width: 100%;
    width: 250px;
    height: 299px;
}

/*------------------
    FORM STYLES
  ------------------*/
#fav-class{
    background-color: #f5f3f3;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, 0.3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.favorite{
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, 0.3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.favorite h2{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.favorite h2 span{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: 0.4pt;
    word-spacing: 0.3pt;
}

.favorite p{
    text-align: center;
    color: #13161b;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

.favorite form{
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

.favorite input[type="text"]{
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161b;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Raleway', sans-serif;
}

.favorite input[type="text"]:hover{
    box-shadow: 0 0 18px rgba(100, 65, 0, 0.8);
}

.form-class{
    padding: 30px 39px;
}

.terms{
    margin: 48px 1px 0 0;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover{
    color: blue;
    text-decoration: underline;
}

.submit input[type="submit"]{
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.submit input[type="submit"]:hover{
    color: #000;
    background-color: #8d8e8f;
    box-shadow: inset 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
}

/*-----------------
    FOOTER STYLES
  -----------------*/
#footer{
    background-color: rgba(100, 65, 0, 0.3);
    color: #000;
    text-shadow: 2px 2px 8px 0 (0, 0, 0, 0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}

/*------------------
    Modal/Lightbox
  ------------------*/
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}
  
.modal-content {
    position: relative;
    background-color: rgba(100, 65, 0, 0.3);
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 1200px;
}
  
.close {
    color: #333;
    position: absolute;
    top: 100px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}

/* Resize the images to adjust to the center */
.mySlides img{
    width: 375px;
    height: 448px;
    margin-left: 30%;
}

div .column {
    width: 250px;
    height: 250px;
    padding: 5px;
}

.column img {
    width: 200px;
    height: 209px;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(100, 65, 0, 0.3);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.caption-container {
    text-align: center;
    color: white;
    font-size: 30px;
}
  
img.myModalFunction {
    opacity: 0.6;
}
  
.active, .myModalFunction:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}











































